@model Students.Common.Models.FieldOfStudies
@using Students.Interfaces
@using System.Globalization

@inject ISharedResourcesService sharedResourcesService

@{
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo(Context.Session.GetString("Culture") ?? "en-US");
    ViewData["Title"] = "Delete";
}

<h1>@sharedResourcesService.GetString("Delete", cultureInfo)</h1>

<h3>@sharedResourcesService.GetString("AYS", cultureInfo)</h3>
<div>
    <h4>@sharedResourcesService.GetString("FieldOfStudy", cultureInfo)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @sharedResourcesService.GetString("Name", cultureInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@sharedResourcesService.GetString("Delete", cultureInfo)" class="btn btn-danger" /> |
        <a asp-action="Index">@sharedResourcesService.GetString("BackToList", cultureInfo)</a>
    </form>
</div>
