@model Students.Common.Models.LectureHall
@using Students.Interfaces
@using System.Globalization

@inject ISharedResourcesService sharedResourcesService

@{
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo(Context.Session.GetString("Culture") ?? "en-US");
    ViewData["Title"] = "Details";
}

<h1>@sharedResourcesService.GetString("Details", cultureInfo)</h1>

<div>
    <h4>@sharedResourcesService.GetString("LectureHall", cultureInfo)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @sharedResourcesService.GetString("HallNumber", cultureInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HallNumber)
        </dd>
        <dt class = "col-sm-2">
            @sharedResourcesService.GetString("Floor", cultureInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">@sharedResourcesService.GetString("BackToList", cultureInfo)</a>
</div>
