@model Students.Common.Models.Book
@using Students.Interfaces
@using System.Globalization

@inject ISharedResourcesService sharedResourcesService

@{
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo(Context.Session.GetString("Culture") ?? "en-US");
    ViewData["Title"] = "Details";
}

<h1>@sharedResourcesService.GetString("Delails", cultureInfo)</h1>

<div>
    <h4>@sharedResourcesService.GetString("Book", cultureInfo)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @sharedResourcesService.GetString("Title", cultureInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @sharedResourcesService.GetString("Author", cultureInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @sharedResourcesService.GetString("Description", cultureInfo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@sharedResourcesService.GetString("Edit", cultureInfo)</a> |
    <a asp-action="Index">@sharedResourcesService.GetString("BackToList", cultureInfo)</a>
</div>
