@model IEnumerable<Students.Common.Models.Book>
@using Students.Interfaces
@using System.Globalization

@inject ISharedResourcesService sharedResourcesService

@{
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo(Context.Session.GetString("Culture") ?? "en-US");
    ViewData["Title"] = "Index";
}

<h1>@sharedResourcesService.GetString("AvBooks", cultureInfo)</h1>

<p>
    <a asp-action="Create">@sharedResourcesService.GetString("CreateNewBook", cultureInfo)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @sharedResourcesService.GetString("Title", cultureInfo)
            </th>
            <th>
                @sharedResourcesService.GetString("Author", cultureInfo)
            </th>
            <th>
                @sharedResourcesService.GetString("Description", cultureInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@sharedResourcesService.GetString("Edit", cultureInfo)</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@sharedResourcesService.GetString("Details", cultureInfo)</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@sharedResourcesService.GetString("Delete", cultureInfo)</a>
            </td>
        </tr>
}
    </tbody>
</table>
