@using Students.Interfaces
@using System.Globalization
@model IEnumerable<Student>

@inject ISharedResourcesService sharedResourcesService

@{
    CultureInfo cultureInfo = CultureInfo.GetCultureInfo(Context.Session.GetString("Culture") ?? "en-US");
    ViewData["Title"] = "Index";
}


<h1>@sharedResourcesService.GetString("IndexOfStudent", cultureInfo)</h1>


<p>
    <a asp-action="Create">@sharedResourcesService.GetString("CreateNew", cultureInfo)</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @sharedResourcesService.GetString("StudentName", cultureInfo)
            </th>
            <th>
                @sharedResourcesService.GetString("Age", cultureInfo)
            </th>
            <th>
                @sharedResourcesService.GetString("Major", cultureInfo)
            </th>
            <th>
                @sharedResourcesService.GetString("FieldOfStudies", cultureInfo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Major)
                </td>
                <td>
                    @if (item.FieldOfStudies != null)
                    {
                    @Html.DisplayFor(modelItem => item.FieldOfStudies.Name)
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@sharedResourcesService.GetString("Edit", cultureInfo)</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@sharedResourcesService.GetString("Details", cultureInfo)</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@sharedResourcesService.GetString("Delete", cultureInfo)</a>
                </td>
            </tr>
        }
    </tbody>
</table>
